body {
    background-color: #3A4965;
    text-transform: uppercase;
    /*color: #484848;*/
    font-family: sans-serif;
    color: #484848;
    text-align: center;
}

td {
    border: 0.5px solid lightgray;
}

.pricing {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.first-pricing-plan {
    padding: 0 35px;
    background-color: #FAFAFA;
    vertical-align: middle;
}

.price-money {
    text-align: left;
}

.first-pricing-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.first-pricing-subtitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    padding-top: 2px;
}

.price {
    background-color: #FAFAFA;
}

.pricing-menu-text {
    color: white;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    text-align: center;
}


.dollars {
    font-size: 60px;
    line-height: 28px;
    font-weight: bold;
    padding: 26px 0 10px 33px;
}

.penny {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.denomination {
    font-size: 18px;
    line-height: 28px;
}

.prices {
    display: flex;
    padding: 9px 30px 10px 0;
    justify-content: flex-end;
}

.first-limit-selection {
    text-align: center;
    padding: 21px 0;
}

.first-condition {
    display: inline;
}

.provided {
    font-size: 16px;
    line-height: 28px;
    display: inline;
}

.condition-img {
    width: 26px;
    height: 22px;
}

.connection-button {
    display: flex;
    justify-content: center;
}

.connection {
    display: table-cell;
}

.connection-button-click {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 20px 45px;
    background-color: #484848;
    border: none;
    margin: 27px 0;
    border-radius: 4px;
    text-transform: uppercase;
}


.second-pricing-plan {
    padding: 24px 14px;
    background-color: #FAFAFA;
    vertical-align: middle;
}

.second-pricing-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}


.second-pricing-subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding-top: 2px;
}



.second-limit-selection {
    vertical-align: middle;
    padding: 0 31px;
}


.price-menu-text{
    color: white;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: 23px;
}


.dollar{

    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    padding-top: 4px;
}

.coins{

    color: white;
    font-weight: bold;
    font-size: 18px;
}

.denominations{

    color: white;
    font-size: 14px;
    line-height: 28px;
    padding-left: 7px;
    padding-top: 9px;
    font-weight: bold;
}

.connection-btn-click{
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 13px 60px;
    background-color: #484848;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
   margin-bottom: 22px;
}

.wrapper{
    display: table-caption;
}





































.light-bgrn {
    background-color: #F2F2F2;
}

.dark-bgrn {
    background-color: #E3E3E3;
}

.green-bgrn {
    background-color: #89C331;
}

.red-bgrn {
    background-color: #F04A56;
}

.swamp-bgrn {
    background-color: #20807C;
}