body {
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1170px;
}

.header-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    width: 100%;
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    background-color: transparent;
    border: 2px solid red;
    border-radius: 9px;
    color: red;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 12px 28px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.btn:hover {
    color: #fff;
    outline: 0;
}


.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px red inset;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    padding: 22px 27px;
}

.logo-name {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 35px;
}

.nav-link:hover {
    color: #14b9d5;
    transition: 0.9s;
}

.search {
    background-color: black;
    /* padding: 26px; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    background-color: black;
    padding: 26px;
}

.news {
    height: 369px;
    background-image: url("img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.news-sub {
    padding-top: 44px;
}

.news-title {
    padding-top: 163px;
    color: white;
    font-size: 18px;
}

.news-sub-link {
    margin-top: 44px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #89CA62;
}

.news-sub-link:last-child {
    background-color: #14B9D5;
    margin-left: 20px;
}

.posts-place {
    height: 875px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 29px;
}

.posts {
    background: #F2F2F2;
    padding-bottom: 95px;
}

.posts-info {
    width: 370px;
    padding-top: 23px;
}

.posts-text {
    color: #353A3D;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    padding: 21px 0;
    background-color: white;
}

.clients {
    background-image: url("img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 588px;
}
.clr{
    color: white;
}
.clients-title {
    padding-top: 106px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.line {
    margin-top: 87px;
    width: 60px;
    height: 3px;
    border: none;
    background: #18B4CF;
}

.clients-company {
    padding-top: 106px;
    width: 881px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.img-wrapper {
    flex: 1 1 auto;

}

.rated-images {
    padding-top: 52px;
    width: 100vw;
    display: flex;
}

.rated-img {
    width: 100%;
}
.wrapper-img{
    width: 100%;
}
.news-wrapper {
    display: grid;
    grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8";
    row-gap: 45px;
    column-gap: 50px;
    padding-top: 51px;
}

.wrapper-content:nth-child(1) {
    grid-area: item1;
}

.wrapper-content:nth-child(2) {
    grid-area: item2;
}

.wrapper-content:nth-child(3) {
    grid-area: item3;
}

.wrapper-content:nth-child(4) {
    grid-area: item4;
}

.wrapper-content:nth-child(5) {
    grid-area: item5;
}

.wrapper-content:nth-child(6) {
    grid-area: item6;
}

.wrapper-content:nth-child(7) {
    grid-area: item7;
}

.wrapper-content:nth-child(8) {
    grid-area: item8;
}

.wrapper-title {
    padding-top: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.wrapper-text {
    padding-top: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.special-hotel {
    background-color: #F9F7F7;
    text-align: right;
    padding-top:27px;
    padding-right: 24px;
}

.special-hotels {
    display: flex;
}

.without-text {
    text-align: center;
    background-color: #F9F7F7;
    padding-bottom: 11px;

}
.wrapper-described {
    text-align: right;
    padding-right: 14px;
    background: #F9F7F7;
}



.sub-title {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    text-align: center;
    font-weight: bold;
}
.architect-footer{
    background-color: black;
    margin-top: 77px;
    padding: 30px 0;
    display: flex;
    color: white;
}
.footer-production{
    font-size: 13px;
    line-height: 13px;

}
.footer-logo{
    display: flex;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.scrollUp {
    position: fixed;
    bottom: 90px;
    right: 25px;
    width: 50px;
    height: 50px;
    z-index: 10;
    display: none;

}

.scrollUp:hover {
    cursor: pointer;

}