body {
    font-family: 'Ubuntu', sans-serif;
}

.bgi {
    background-image: url("img/bg.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

a svg path:hover {
    fill: #01813F;
    transition: 0.5s;
}

.title:hover {
    color: #01813F;
    transition: 0.5s;
}

.info-icons {
    display: flex;
}

.icon {
    padding-right: 25px;
}

.line {
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 25px;
}

.info-text {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 5px;
}

.registration {
    position: relative;
    padding: 30px 40px;
    background-color: white;
    width: 360px;
    height: 550px;
    margin: 100px auto;
}

.registration::after {
    top: 30px;
    left: 0;
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.register:hover {
    color: #01813F;
    transition: 0.5s;
}


.reg-title {
    font-size: 20px;
    font-weight: 400;
    color: #434343;
    display: inline;
}

.reg-log_in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-left: 229px;
}

.reg-log_in:hover {
    font-size: 14px;
    line-height: 14px;
    color: #01813F;
    text-decoration: underline;
}

.or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    padding-top: 31px;
    position: relative;
}

.or::before {
    content: "";
    width: 152px;
    height: 0px;
    position: absolute;
    top: 38px;
    border: 1px solid #F2F2F2;
    left: 0;
}

.or::after {
    content: "";
    width: 152px;
    height: 0px;
    position: absolute;
    top: 38px;
    border: 1px solid #F2F2F2;
    right: 0;
}


.soc-media {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.media-link {
    padding: 12px 22px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    background-color: #305DB8;
}

.media-link:hover {
    transition: 0.5s;
    background-color: #022263;
}

.media-link:last-child:hover {
    transition: 0.5s;
    background-color: #AB1F09;
}

.media-link-text {
    font-size: 16px;
    line-height: 16px;
    padding-left: 27px;
    color: #FFFFFF;
    padding-top: 3px;
}

.media-link:focus {
    padding: 15px 60px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #305DB8;
}

.media-link:last-child {
    background-color: #DF4A32;
}

input:focus {
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: 2px 8px 16px -5px rgba(0, 0, 0, 0.2);
}


/*input:hover {
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: 2px 8px 16px -5px rgba(0, 0, 0, 0.2);
}*/
input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}

.linef {
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-left: 18px;
}

.lineg {
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    margin-left: 18px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form1 {
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.form05 {
    padding-top: 16px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.form2 {
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.form3 {
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

}

.form4 {
    padding-top: 30px;
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

}

.form5 {
    padding-top: 30px;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px darkgrey;
    background-color: rgba(60, 184, 120, 0.8);
}

.form5:focus {
    border: none;
    border-bottom: 1px white;
    background: #01813F;
}

.checkbox-text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-top: 12px;
}

.checkbox-link {
    color: #3CB878;
}

.checkbox-link:hover {
    text-decoration: underline;
    color: #01813F;
}

input[type="email" i] {
    padding: 15px 20px;
}

input[type="text" i] {
    padding: 15px 20px;
}

input[type="password" i] {
    padding: 15px 20px;
}

input[type="submit" i] {
    padding: 15px 20px;
    color: white;
}

