*{
    margin: 0;
}

body{
    background-color: #0E0E0E;
    color: #F4D046;
    width: 100%;
    height: 100vw;
    text-align: center;
    overflow: hidden;
}
.animation {
    position: absolute;
    width: 1225px;
    height: 1000px;
    bottom: 2px;
    left: 52%;
    margin-left: -8em;
    font-size: 500%;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(30deg);
}
.animation:after {
    content: " ";
    left: 0;
    right: 0;
    top: -40%;
    bottom: 70%;
    pointer-events: none;
    position: absolute;
}
.animations {
    position: absolute;
    top: 100%;
    animation: scroll 40s linear 0s infinite;
}
.text {
    margin-bottom: 67px;
    pointer-events: none;
}
.title::selection {
    background: unset;
}
@keyframes scroll {
    0% {
        top: 1%;
    }
    100% {
        top: -100%;
    }
}
















