section {
    margin: 100px auto;
}


.title {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-wrapper {
    display: flex;
    width: 1200px;
    margin: 25px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    column-gap: 50px;
}

.info-number{
    padding: 22px 24px;
    color: #F7F7FA;
    background-image: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    border-radius: 6px;
    font-size: 36px;
    line-height: 28px;
    margin-bottom: 26px;
}

.info-title{
font-size: 18px;
    line-height: 21px;
    color: #031D5B;
    margin-bottom: 50px;position: relative;
}

.info-title::after{
    content: "";
    bottom: -29px;
    left: 0;
    width: 72px;
    height: 4px;
    position: absolute;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    border-radius: 10px;
}

.info-text{
    line-height: 28px;
    color: #3A3A44;
}