.menu  {
    margin: 25px 0 25px 330px;
}
.menu-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: red;
    margin-left: 70px;
}
.main-photo{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.content{
    margin-left: 67px;
    text-align: center;
    color: #373737;
    width: 1145px;
}
.title{
    margin-top: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
 }
.text{
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;

}
.paragraph{
    margin-top: 30px;
}
.started-button{
    cursor: pointer;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
    margin-top: 80px;
}
.footer-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-left: 910px;
margin-top: 80px;
    margin-bottom: 30px;
    color: #373737;
}