.first,
.second,
.third,
.bgi {
    background-image: url(../img/parallax/cloud.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -10;
    top: -229px;
    height: 950px;
}

.second {
    z-index: -8;
    top: 200px;
    height: 1150px;
    background-image: url(../img/parallax/mountaing.png);
}

.third {
    z-index: -7;
    top: 410px;
    height: 800px;
    background-image: url(../img/parallax/human.png);
}

.bgi {
    z-index: -6;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url(../img/parallax/BG-Hero.png);
}

body {
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.head {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.head-title {
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: bold;
}

.head-menu {
    display: flex;
}

.head-menu__item {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.head-menu__link {
    color: #fff;
}

.head-menu__item:not(:last-child) {
    margin-right: 40px;
}

.head-profile {
    color: #fff;
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 17px;
    line-height: 21px;
}

.slogan {
    width: 600px;
    margin: 200px auto 0;
}

.slogan-guide {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    display: flex;
    align-items: center;
}

.slogan-guide::before {
    content: "";
    width: 72px;
    height: 2px;
    display: block;
    background: #FBD784;
    margin-right: 32px;
}

.slogan-title {
    font-size: 56px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.slogan-scroll {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
}

.slogan-scroll::after {
    content: "";
    height: 25px;
    width: 2px;
    background: white;
    display: inline-block;
    position: absolute;
    right: -20px;
    top: calc((100% - 25px) / 2);
}


.slogan-scroll::before{
    content: "";
    display: inline-block;
}























































