body {
    /* ffss */
    font-family: sans-serif;
}

.container {
    /* w1170 */
    width: 1170px;
    margin: 0 auto;
}

.hero {
    background-image: url(./img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding-top: 528px;
    padding-left: 224px;
    padding-bottom: 133px; */
    padding: 528px 0 133px 224px;
    color: white;
    width: 100%;
}

img {
    list-style: none;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* color: white; */
    /* mb16 */
    margin-bottom: 16px;
    text-transform: uppercase;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    /* color: white; */
    margin-bottom: 22px;
}

.hero-slogan {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 38px 31px;
    border: 1px solid white;
    /*  display: inline-block;*/
    width: max-content;

}

/*.span{
    padding: 38px 23px 38px 31px;
    border-right: 1px solid;
    display: inline-block;
    margin-right: 23px;
}*/

.nav {
    padding-bottom: 22px;
    border-bottom: 3px solid #F48E0B;
    margin-bottom: 200px;
    margin-top: 100px;
}

.nav-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-right: 210px;
}

.nav-menu {
    display: inline-block;
}

.nav-menu-item {
    display: inline-block;
    margin-left: 69px;
}

.nav-menu-link {
    font-size: 18px;
    line-height: 22px;
}

.nav-menu-item:hover {
    color: orange;
    transition: 0.7s;
}

.info-wrapper-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
    /*margin-bottom: 22px;*/
}

.info-wrapper-text {
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    padding-bottom: 36px;
}

.info-wrapper-link {
    color: white;
    background-color: #F1AD1D;
    font-size: 14px;
    line-height: 14px;
    padding: 19px 27px;
}

.info {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
}

.info-holder {
    display: flex;
    width: calc((100% - 30px) / 2);
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 22px;
}

.info-wrapper {
    width: calc((100% - 30px) / 2);
}

.portfolio {
    margin: 100px 0;
}

.item-image {
    width: 100%;
}

.item-logo {
    display: flex;
    margin-top: 7px;
    align-items: center;
}

.portfolio-item-edit {
    padding: 11px;
    background-color: #333333;
    margin-right: 8px;
}

.portfolio-item-title {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.item-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    padding-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;
}

.item-data {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    line-height: 18px;
    font-size: 12px;
    color: #828282;
}

.gallery-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.gallery-text {
    margin-top: 29px;
    font-size: 17px;
    line-height: 24px;
    color: #4d4943;
    text-align: center;
}

.filters {
    margin-top: 109px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 14px;
    justify-content: center;
}

.filter-element-link {
    font-size: 14px;
    line-height: 14px;
    color: #111111;
    padding: 14px 41px;
    border: 1px solid black;
}

.filter-element-link.active {
    color: #f48e0b;
    background-color: #333333;
}


.album-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 271px;
    margin-top: 44px;
    gap: 14px;
}

.album-img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: cyan;
}

.album-element {
    position: relative;
}

.album-element:hover .album-hover {
    opacity: 1;
}

.album-hover {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 13px 37px;
    align-items: center;
    border: 1px solid black;
    row-gap: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.album-hover-title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #111111;
}

.album-hover-line {
    width: 64px;
    height: 3px;
    border: none;
}

.album-hover-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5B5B5B;
}

.album-hover-link {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 33px;
    font-weight: bold;
}


.form{
    margin-top: 500px;
    margin-bottom: 500px;
}

.form-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 24px 156px 17px 17px;
    background-color: #333333;
    display: inline;
}

.form-subtitle{
    margin-top: 29px;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.form-feedback-fields{
    padding: ;
}

.yellow-text {
    color: #F48E0B;
}