
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logotype {
    display: flex;
    color: white;
    align-items: center;
}

.castle {
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.orange-castle {
    opacity: 0;
    position: absolute;
}

.orange-castle:hover {
    opacity: 1;
    transition: 0.5s;
}

.milan:hover,
.holidays:hover,
.info-link:hover,
.name:hover {
    color: #F26522;
    transition: 0.5s;
}

.milan,
.holidays {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: white;
    display: flex;
    text-decoration: none;
}

.holidays {
    font-size: 18px;
}

.info-link {
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-decoration: none;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.place {
    margin-top: 30px;
}

.view {
    position: absolute;
    cursor: pointer;
    background-color: #F26522;
    width: 300px;
    margin-top: 184px;
    opacity: 0;
    transition: 0.5s;
}

.view:hover {
    opacity: 1;
    cursor: pointer;
    width: 300px;
    z-index: 1;
    transition: 0.5s;
    background-color: #F26522;
}

.from {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    padding-top: 7px;
    padding-left: 16px;
}

.cost {
    font-size: 20px;
    line-height: 20px;
    color: white;
    display: inline-block;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 8px;
}

.dropbox {
    padding-left: 128px;
    display: inline-block;
    position: relative;
}

.content-img {
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
    height: 220px;
    position: relative;
    z-index: -1;

}

.name {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: unset;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.end {
    color: white;
    text-align: center;
    padding-top: 49px;
}

.line {
    cursor: pointer;
    position: absolute;
    top: -24px;
    left: 304px;
}

.line1, .line2 {
    background: #fff;
    height: 1px;
    left: -30px;
    position: absolute;
    top: 60px;
    width: 7px;
}

.line1 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.line2 {
    transform: rotate(-45deg);
    transform-origin: top right;
}