.light-theme {
    background-color: white;
}
.dark-theme {
    background-color: mediumslateblue;
}
.container {
    width: 1280px;
    margin: 0 auto;
}


.title {
    display: block;
    font-size: 80px;
    margin-top: 60px;
}

.aqua-text {
    color: aqua;
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #35444f;
}

.menu-link {
    padding: 23px 35px;
    display: inline-block;
    font-size: 24px;
    border-left: 1px solid white;
    transition: background 0.5s ease-in-out;
    color: white;

}

.menu-link-border {
    border-right: 1px solid white;
}

.menu-link:hover {
    background: #222f3a;
}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.side-menu {
    border: 2px solid black;
}

.side-menu_link {
    display: block;
    padding: 25px 90px 25px 45px;
    font-size: 27px;
    color: black;
    transition: all 0.5s ease-in-out;
}

.side-menu_link:hover {
    background-color: lightgray;
    padding-left: 70px;
    padding-right: 65px;
}

.main {
    width: 885px;
}

.content_img {
    width: 730px;
    height: 529px;
    border: 2px solid black;
}

.img-ramda, .content_img {
    padding-left: 150px;
    padding-top: 70px;
}

.content-text {
    font-size: 18px;
    margin-top: 35px;
    line-height: 24px;
}

.footer-nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu-link {
    padding: 23px 35px;
    display: inline-block;
    font-size: 24px;
    transition: 0.5s;
    color: #010101;

}

.footer-menu-link:hover {
    padding: 23px 35px;
    display: inline-block;
    font-size: 24px;
    text-decoration: underline;
    transition: 3s;
    color: #4780A2;

}

.copyright {
    display: inline-block;
    font-size: 24px;
    transition: 0.5s;
    color: #010101;
    padding-left: 72px;
    padding-top: 23px;
}

